{% extends "layout.html" %}
{% block content %}
<div style="width: 640px; height: 480px" id="mapContainer">
    <script>
        // add a marker
        function addMarkerToGroup(group, coordinate, html) {
            var marker = new H.map.Marker(coordinate);
            // add custom data to the marker
            marker.setData(html);
            group.addObject(marker);
        }

        // add an info bubble for each marker
        function addInfoBubble(map){
            // add the group to the map
            map.addObject(group);

            // add 'tap' event listener, that opens info bubble, to the group
            group.addEventListener('tap', function (evt) {
                // event target is the marker itself, group is a parent event target
                // for all objects that it contains
                var bubble =  new H.ui.InfoBubble(evt.target.getGeometry(), {
                // read custom data
                content: evt.target.getData()
                });
                // show info bubble
                ui.addBubble(bubble);
            }, false);
        }

        // add a path result from algorithm to the map
        function addResultPath(map) {
            var lineString = new H.geo.LineString();
            for (let i = 0; i<points.length; i++){
                lineString.pushPoint({lat:points[i][0], lng:points[i][1]});
            }

            // draw the line
            map.addObject(new H.map.Polyline(
                lineString, { style: { lineWidth: 2, strokeColor: "rgba(33, 255, 0, 1.0)" }}
            ));
        }

        // add graph to map
        function addGraphToMap(map){
            var nodesInfo = graph[0]
            // var lineString = new H.geo.LineString();
            // ADD NODES TO MAP
            for (let i = 0; i<nodesInfo?.length; i++){
                // add a marker to the group
                addMarkerToGroup(group, {lat:nodesInfo[i][1], lng:nodesInfo[i][2]}, nodesInfo[i][0]);
            }
            // // ADD EDGES TO MAP
            var edgesInfo = graph[1]
            for (let i = 0; i<edgesInfo?.length; i++){
                var lineString = new H.geo.LineString();
                lineString.pushPoint({lat:edgesInfo[i][0][0], lng:edgesInfo[i][0][1]}); // add src node location
                lineString.pushPoint({lat:edgesInfo[i][1][0], lng:edgesInfo[i][1][1]}); // add trg node location
                map.addObject(new H.map.Polyline(
                    lineString, { style: { lineWidth: 3 , strokeColor: "rgba(0, 113, 255, 1.0)" }}
                ));
            }
            // ADD INFO BUBBLE
            addInfoBubble(map);
        }

        function clearMap(){
            map.removeObjects(map.getObjects())
        }

        // receive the path names
        // var names = JSON.parse('{{ names|tojson }}');
        // receive the points pass
        var points = JSON.parse('{{ coords|tojson }}');
        // receive the graph data pass
        var graph = JSON.parse('{{ graphInfo|tojson }}');

        // // other value initialization
        // var pointCount = 0;

        // create a new group
        var group = new H.map.Group();

        // init the platform
        var platform = new H.service.Platform({
            'apikey': 'ktOMjYT0KrFXrOWL7Sxp475UB20KgVQtBpAnsTmgnTA'
        });

        // create a layer
        var layer = platform.createDefaultLayers();

        // search camera position
        var avgLat = 0.0;
        var avgLng = 0.0;

        
        if (points.length>0){
            var sumLat = 0.0;
            var sumLng = 0.0;
            for (let i=0; i<points.length; i++){
                sumLat += points[i][0];
                sumLng += points[i][1];
            }
            avgLat = sumLat/points.length
            avgLng = sumLng/points.length
        } else if (graph.length>0){
            var sumLat = 0.0;
            var sumLng = 0.0;
            var nodeInfo = graph[0];
            for (let i=0; i<nodeInfo.length; i++){
                console.log(sumLat)
                console.log(sumLng)
                sumLat += nodeInfo[i][1];
                sumLng += nodeInfo[i][2];
            }
            avgLat = sumLat/nodeInfo.length;
            avgLng = sumLng/nodeInfo.length;
        }

        // instantiate (and display) a map object:
        var map = new H.Map(
            document.getElementById('mapContainer'),
            layer.vector.normal.map,
            {
                zoom: 15,
                center: { lat: avgLat, lng: avgLng },
                pixelRatio: window.devicePixelRatio || 1
            });

        // add a resize listener to make sure that the map occupies the whole container
        window.addEventListener('resize', () => map.getViewPort().resize());

        // MapEvents enables the event system
        // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

        // Create the default UI components
        var ui = H.ui.UI.createDefault(map, layer);

        addGraphToMap(map);
        // addResultPath(map);
    </script>
</div>

{% endblock content %}

{% block sideInfo %}
<div class="col-md-4">
    <div class="content-section">
      <h3>Side Info</h3>
      <p class='text-muted'>Berikut adalah beberapa informasi mengenai path yang terbentuk
        <article class="media content-section">
            <div class="media-body">
                <button onclick="clearMap()"> Clear graph </button>
                <form action="/load-file/" method="POST">
                    <input type="text" name="test">
                    <input type="submit" value="Use File">
                </form>
                <!-- <div class="article-metadata">
                    Documents used : 
                </div>
                <br>
                <div>
                    <label for="srcNd">Lokasi asal :</label>
                    <select id="srcNd">
                        
                        <option value="a">Volvo</option>
                        <option value="saBab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

                <div>
                    <p>Lokasi tujuan : {{names[(names|length)-1]}}</p>
                </div>

                <div>
                    <p>Jarak total yang ditempuh  : {{dist}}</p>
                </div>                 -->
            </div>
        </article>
      </p>
    </div>
</div>
{% endblock sideInfo %}