{% extends "layout.html" %}
{% block content %}
<div style="width: 640px; height: 480px" id="mapContainer"></div>
<script>
    var sumLat = 0.0;
    var sumLng = 0.0;
    var pointCount = 0;

    // receive the points pass
    var points = JSON.parse('{{ points|tojson }}');
    for (let i=0; i<points.length; i++){
        sumLat += points[i][0];
        sumLng += points[i][1];
        pointCount++;
    }

    // count the avg coordinate to center to
    var avgLat = sumLat/pointCount;
    var avgLng = sumLng/pointCount;

    // receive the path names
    var names = JSON.parse('{{ paths|tojson }}');

    // create a new group
    var group = new H.map.Group();

    // add a marker
    function addMarkerToGroup(group, coordinate, html) {
        var marker = new H.map.Marker(coordinate);
        // add custom data to the marker
        marker.setData(html);
        group.addObject(marker);
    }

    // add an info bubble for each marker
    function addInfoBubble(map){
        // add the group to the map
        map.addObject(group);

        // add 'tap' event listener, that opens info bubble, to the group
        group.addEventListener('tap', function (evt) {
            // event target is the marker itself, group is a parent event target
            // for all objects that it contains
            var bubble =  new H.ui.InfoBubble(evt.target.getGeometry(), {
            // read custom data
            content: evt.target.getData()
            });
            // show info bubble
            ui.addBubble(bubble);
        }, false);
    }

    // add a polyline to the map
    function addPolylineToMap(map) {
        var lineString = new H.geo.LineString();
        for (let i = 0; i<pointCount; i++){
            lineString.pushPoint({lat:points[i][0], lng:points[i][1]});
            // add a marker to the group
            addMarkerToGroup(group, {lat:points[i][0], lng:points[i][1]}, names[i]);
        }

        // draw the line
        map.addObject(new H.map.Polyline(
            lineString, { style: { lineWidth: 4 }}
        ));

        // call to add the info bubble
        addInfoBubble(map);
    }

    // init the platform
    var platform = new H.service.Platform({
        'apikey': 'ktOMjYT0KrFXrOWL7Sxp475UB20KgVQtBpAnsTmgnTA'
    });

    // create a layer
    var layer = platform.createDefaultLayers();

    // instantiate (and display) a map object:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        layer.vector.normal.map,
        {
            zoom: 15,
            center: { lat: avgLat, lng: avgLng },
            pixelRatio: window.devicePixelRatio || 1
        });

    // add a resize listener to make sure that the map occupies the whole container
    window.addEventListener('resize', () => map.getViewPort().resize());

    // MapEvents enables the event system
    // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
    
    // Create the default UI components
    var ui = H.ui.UI.createDefault(map, layer);

    addPolylineToMap(map);

</script>
{% endblock content %}

{% block sideInfo %}
<div class="col-md-4">
    <div class="content-section">
      <h3>Side Info</h3>
      <p class='text-muted'>Berikut adalah beberapa informasi mengenai path yang terbentuk
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    Documents used : 
                </div>
                <br>
                <p>Lokasi asal : {{paths[0]}}</p>
                <p>Lokasi tujuan : {{paths[(paths|length)-1]}}</p>
                <p>Jarak total yang ditempuh  : {{dist}}</p>
            </div>
        </article>
      </p>
    </div>
</div>
{% endblock sideInfo %}